<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/search_chapter/style.css" />
    <title>welcome</title>
  </head>
  <body)">
    <div class="overlay"  style="background-image: url('data:image/png;base64,<%=cover%>')" >
    <img src="data:image/png;base64,<%=cover%>"  alt="">  
    </div>
      <p class="credits">powered by AymanLyesri and MangaDex</p>
      <form action="/show_chapter" method="POST">
        <input type="hidden" name="manga_id" value="<%=manga.id%>" />
        <input type="hidden" name="language" value="<%=language%>" />
        <select name="manga_chapter">
          <% for (let i = 1; i <= chapters; i++) {%>
          <option value="<%=i%>"><%=i%></option>
          <%}%>
        </select>
        <input type="submit" value="watch" />
      </form>

  </body>
</html>
