<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/views/search_chapter/style.css" />
    <title>welcome</title>
  </head>
  <body class="text-light">
    <p class="text-center">powered by AymanLyesri and MangaDex</p>
    <table>
      <tr>
        <form class="form" action="/show_chapter" method="POST">
          <td>
            <input type="hidden" name="manga_id" value="<%=manga.id%>" />
            <select name="manga_chapter">
              <% for (let i = 1; i <= chapters; i++) {%>
              <option value="<%=i%>"><%=i%></option>
              <%}%>
            </select>
            <input type="image" src="data:image/png;base64,<%=cover%>" />
          </td>
        </form>

        <td class="info">
          <h1>title</h1>
          <p><%=manga.title%></p>
          <h1>chapters</h1>
          <p><%=chapters%></p>
          <h1>Description</h1>
          <%if(typeof manga.description==='string'){%>
          <p class="description"><%=manga.description.substring(0,500)%>...</p>
          <%}%>
        </td>
      </tr>
    </table>
  </body>
</html>
