<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/views/show_chapter/style.css" />
    <title>Document</title>
  </head>
  <body class="bg-dark text-light">
    <p class="text-center">
      [<%=panels.length%> panels][chapter: <%=manga_chapter%>] powered by
      AymanLyesri and MangaDex
    </p>


    <%panels.forEach(panel => {%>
        <div class="show_chapter_img">
            <img src="<%=panel%>" data-lazy-load-src="<%=panel%>" style="width: 100%;border-bottom: 10px solid black;"></img>
        </div>
    <%});%>


    <div class="container img-container">
      <form class="w-100 show_chapter_form" action="/show_chapter" method="POST">
        <input type="hidden" name="manga_id" value="<%= manga.id %>" />
        <input type="hidden" name="manga_chapter" value="<%= next_chapter %>" />
        <input
          class="small-box mx-auto btn btn-outline-light"
          type="submit"
          value="next chapter"
        />
      </form>
    </div>
  </body>
</html>
