<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/show_chapter/style.css" />
    <title>Document</title>
  </head>
  <body class="bg-dark text-light">
    <p class="text-center">
      [<%=panels.length%> panels][chapter: <%=manga_chapter%>] powered by
      AymanLyesri and MangaDex
    </p>

    <form class="search_chapter_form" action="/show_chapter" method="POST">
      <input type="hidden" name="manga_id" value="<%=manga.id%>" />
      <input type="hidden" name="language" value="<%=language%>" />
      <select name="manga_chapter" onchange="onSelectChange();">
        <% for (let i = 1; i <= chapters; i++) {%>
        <option value="<%=i%>"><%=i%></option>
        <%}%>
      </select>
    </form>

    <% if(panels.length > 0) { %> <%panels.forEach(panel => {%>
    <div class="show_chapter_img">
      <img class="zoom" src="<%=panel%>" data-lazy-load-src="<%=panel%>" />
    </div>
    <%});}else{%>
    <h1>This chapter is not yet released</h1>
    <%}%>

    <div class="container w-100">
      <form
        class="w-100 next_chapter_form"
        action="/show_chapter"
        method="POST"
      >
        <input type="hidden" name="manga_id" value="<%=manga.id%>" />
        <input type="hidden" name="manga_chapter" value="<%=next_chapter%>" />
        <input type="hidden" name="language" value="<%=language%>" />
        <input
          class="btn btn-outline-light"
          type="submit"
          value="next chapter"
        />
      </form>
    </div>
    <script src="/views/show_chapter/script.js"></script>
  </body>
</html>
