<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/show_manga/style.css" />
    <title>Show mangas</title>
  </head>
  <style>
    body {
      grid-template-rows: 1fr <%list.forEach(element=> {%>1fr <%}) %> 1fr;
    }
  </style>

  <body>
    <p class="credits">powered by AymanLyesri and MangaDex</p>
    <h1><%= error %></h1>
    <form class="search_manga" action="/show_manga" method="POST">
      <label for="title">Manga title</label>
      <input type="hidden" name="offset" value="0" />
      <input
        type="text"
        class="form-control"
        placeholder="Enter title"
        name="manga_title"
      />
      <input class="search" type="submit" value="search" />
    </form>

    <%var x=1; list.forEach(element=> {%>

    <form class="show_manga" action="/search_chapter" method="POST">
      <h1><%=element.title%></h1>
      <input type="hidden" name="cover_bin" value="<%=url[x-1]%>" />
      <input type="hidden" name="manga_id" value="<%=element.id%>" />
      <input
        class="card"
        type="image"
        src="data:image/png;base64,<%=url[x-1]%>"
      />
      <%element.availableTranslatedLanguages.forEach(lang =>{%>
      <label for="<%=lang+x%>">
        <input
          type="radio"
          name="language"
          value="<%=lang%>"
          id="<%=lang+x%>"
          required />
        <img src="/icons/<%=lang%>.png" alt="<%=lang%>"
      /></label>

      <%})%>
    </form>

    <%x++;})%> <%if (offset!=0) {%>

    <form class="previous" action="/show_manga" method="POST">
      <input type="hidden" name="manga_title" value="<%=manga_title%>" />
      <input type="hidden" name="offset" value="<%=offset-6%>" />
      <input onclick="history.back()" type="submit" value="previous" />
    </form>

    <%}%>

    <form class="next" action="/show_manga" method="POST">
      <input type="hidden" name="manga_title" value="<%=manga_title%>" />
      <input type="hidden" name="offset" value="<%=offset+6%>" />
      <input type="submit" value="next" />
    </form>
  </body>
  <script src="/views/show_manga/script.js"></script>
</html>
