<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/views/show_manga/style.css" />
    <title>Show mangas</title>
  </head>
  <body class="bg-dark text-light">
    <p class="text-center">powered by AymanLyesri and MangaDex</p>

    <div class="container">
      <div class="small-box mx-auto">
        <form
          class="search_manga_form search_manga_form_up"
          action="/show_manga"
          method="POST"
        >
          <table>
            <tbody>
              <tr>
                <label for="title">Manga title</label>
              </tr>
              <tr>
                <td>
                  <input type="hidden" name="offset" value="0" />
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter title"
                    name="manga_title"
                  />
                </td>
                <td>
                  <input
                    class="btn btn-outline-light"
                    type="submit"
                    value="search"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>

    <h1><%= error %></h1>

    <%var x=0; list.forEach(element=> {%>

    <form class="show_manga_form" action="/search_chapter" method="POST">
      <table>
        <tbody>
          <tr>
            <td style="width: 50%">
              <h1><%=element.title%></h1>
              <input type="hidden" name="cover_bin" value="<%=url[x]%>" />
              <input type="hidden" name="manga_id" value="<%=element.id%>" />
              <input
                class="img-thumbnail"
                type="image"
                src="data:image/png;base64,<%=url[x]%>"
              />
            </td>
            <td style="width: 50%">
              <input class="show_manga_submit" type="submit" value="watch" />
              <p class="text-center">[<%=element.year%>]</p>
            </td>
          </tr>
        </tbody>
      </table>
    </form>

    <%x++;})%>
    <table class="previous_next">
      <tr>
        <%if (offset!=0) {%>
        <td class="show_manga_previous">
          <form action="/show_manga" method="POST">
            <input type="hidden" name="manga_title" value="<%=manga_title%>" />
            <input type="hidden" name="offset" value="<%=offset-4%>" />
            <input
              class="btn btn-outline-light"
              onclick="history.back()"
              type="submit"
              value="previous"
            />
          </form>
        </td>
        <%}%>
        <td class="show_manga_next">
          <form action="/show_manga" method="POST">
            <input type="hidden" name="manga_title" value="<%=manga_title%>" />
            <input type="hidden" name="offset" value="<%=offset+4%>" />
            <input class="btn btn-outline-light" type="submit" value="next" />
          </form>
        </td>
      </tr>
    </table>

    <script src="/views/show_manga/script.js"></script>
  </body>
</html>
